@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Fascinate+Inline&family=Kumbh+Sans:wght@400;700&family=Nanum+Pen+Script&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Kumbh Sans', sans-serif;
  box-sizing: border-box;
}
body{
  margin-right: 5rem;
  margin-left: 5rem;
}
.imageContent{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
:root {
  --primaryColor: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --veryDarkBlue: hsl(220, 13%, 13%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

/* Header styles start */
.textContainer {
  display: flex;
  flex-direction: row;
  gap: 6rem;
}

.textContainer .linksContainer {
  display: flex;
  gap: 1rem;
}

.textContainer .linksContainer a {
  text-decoration: none;
  color: var(--darkGrayishBlue);
  font-weight: 400;
}

.textContainer .linksContainer a:hover {
  border-bottom: 2px solid var(--primaryColor);
}

.textContainer span {
  font-weight: 700;
  scale: 1.4;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;

  border-bottom: 1px solid rgba(128, 128, 128, 0.301);
  border-width: 75%;
  margin-bottom: 10rem;
}

.leftBarHeaderContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.leftBarHeaderContainer .avatar {
  scale: 0.5;
}
/* End header section */

/* Start main section product */
.mainSection {
  display: flex;
  flex-direction: row;
  margin: -4rem 9rem 7rem 4rem;
  gap: 8rem;
  justify-content: space-between;
}

.mainSection .imageContent .primaryImage .primaryImageProductOne {
  width: 435px;
  border-radius: 12px;
}

.mainSection .imageContent .secondaryImages {
  display: flex;
  gap: 37px;
}

.mainSection .imageContent .secondaryImages img {
  width: 81px;
  border-radius: 12px;
}
.mainSection .imageContent .secondaryImages img:hover {
  transition: 0.6s;
  opacity: 0.7;
  border: 3px solid var(--primaryColor);
}

.textContent {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7rem;
}

.textContent h4 {
  color: var(--primaryColor);
  margin-top: -7rem;
  margin-bottom: 2rem;
}

.textContent h1 {
  color: var(--black);
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 48px;
}

.textContent p {
  color: var(--grayishBlue);
  font-weight: 400;
  margin-bottom: 2rem;
}

.finalPrice {
  display: flex;
  margin-bottom: 0rem;
  gap: 1rem;
  font-weight: 700;
  font-size: 19px;
  align-items: center;
}

.finalPrice .remis {
  background-color: #FAECE1;
  padding: 5px;
  border-radius: 12px;
  color: #ff6e00;
  opacity: 0.6;
}

.lastPrice {
  text-decoration: line-through;
  opacity: 0.5;
  font-size: 19px;
  margin-bottom: 5rem;
}

.buttons {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.buttons .addOne {
  background-color: #F5F6FC;
  padding: 2rem;
  display: flex;
  width: 12rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 16px;
}

.addToCart {
  background-color: var(--primaryColor);
  padding: 2rem;
  display: flex;
  width: 12rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  color: white;
}

.addToCart img {
  filter: brightness(0) invert(1);
}

.cursorPointer {
  cursor: pointer;
}
.numbr {
  background-color: var(--primaryColor);
  border-radius: 50%;
  color: white;
  padding: 9px 14px;
  display: none;
}
.numberBlock{
  display: block !important;
}
.avatar:hover{
  border: 3px solid var(--primaryColor);
  border-radius: 50%;
}
.cartcontiner{
  
  width: 300px;
  height: 200Px;
  margin-top: -11rem;
  position: absolute;
  right: 9rem;
  background-color: #FFFFFF;
  border: 1px solid  white;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;

  display: none;
  
}
.cartcontiner .p{
  padding: 4rem;
}

.cartcontiner h4{
  padding: 1rem;
}
.cartcontinerDisplay{
  display: block !important;
}
.cartCheckout{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.textContiner{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  
  
}
.addToCart {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.textContiner .img{
  width: 60px;
  height: 60px;
  border-radius: 12px;
}
.textContainer p{
  width: auto;
  font-size: 12Px;
}
.checkoutButton {
  padding: 1rem;
  width: 12rem;
  background-color: var(--primaryColor);
  border-radius: 12px;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;

}
.zeroPadding{

  display: none;
}
.displBlock{
  display: block ;
}
.displNone{
  display: none !important;
}
.displflex{
  display: flex !important;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.burgerMenu{
  display: none;
}
@media (max-width:428px) {
  body{
    margin: 0;
    padding: 0;
  }
  .textContainer .linksContainer {
    display: none;
  }
  .mainSection{
    flex-direction: column;
  }
  
.mainSection .imageContent .secondaryImages {
  display: none;

  
}
.mainSection .imageContent .primaryImage .primaryImageProductOne {
  width: 370px;
  border-radius: 12px;}
  .buttons {
    flex-direction: column;
    margin-top: -2rem;
    margin-left: -2rem;
}
.buttons .addOne{
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.buttons .addToCart {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
   width: 350px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.mainSection{
  margin: 0;
  margin-top: -10rem;


}
.textContent{
  width: 370px;
  
}
.burgerMenu{
  display: block !important;
  scale: 0.98;
  cursor: pointer;
}
.textContainer{
  display: flex;
  justify-content: space-between;
}
.leftBarHeaderContainer{
  scale: 0.7;
    width: 108px;
}
.cartcontiner{
  width: 360px;
  right: 10px;
  height: 253Px;
}
.textContent{
  margin-top: 0rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.money{
  margin: 1rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
}
.addToCart{
  margin-bottom: 3rem;
}
.iconNextPrevious{
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  
  z-index: 3;
  

}
.iconNextPrevious img{
  border: 1px solid;
  background-color: white;
  padding: 1rem;
  border-radius: 50%;
  position: relative;
  bottom: 15rem;
  border: none;
  cursor: pointer;
  
}
.mobielMenu{
  display: none;
  color: black;
  
  position: absolute;
  left: 0;
  flex-direction: column;
  z-index: 4;
  width: 300px;
  background-color: white;
  gap: 6rem;
  padding: 2rem;
  top: 0;
  height:1000px ;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.mobielMenu img{
  width: 30px;
  
}
.mobielMenu .lien{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}
.mobielMenu .lien a{
  text-decoration: none;
  color: black;
  font-weight: 700;
}

}
.iconNextPrevious{
  display: none;
  
}
.mobielMenu{
  display: none ;
}
.closeIcon{
  cursor: pointer;
}